* {
    background-color: var(--color-background-page);
}

header {
    padding: var(--size-spacing-medium);
    background-color: var(--color-background-header);
}

header h1, header a{
    width: fit-content;
}

header a {
    text-decoration: none;
    color: var(--color-link-header);
    background-color: var(--color-background-header);
}

header a:visited {
    text-decoration: none;
}

header a:hover {
    cursor: pointer;
}

.content {
    padding: var(--size-spacing-large);
}

.content h3 {
    padding: var(--size-spacing-medium);
}

.content ul {
    padding-bottom: var(--size-spacing-medium);
}

.content a {
    color: var(--color-link-body);
    text-decoration: none;
}

h1, h2, h3 {
    font-family: var(--font-family-display);
    line-height: var(--font-line-height-display);
}


h1 {
    font-size: var(--size-type-h1);
    font-weight: var(--font-weight-bold);
}

h2 {
    font-size: var(--size-type-h2);
    font-weight: var(--font-weight-bold);
}

h3 {
    font-size: var(--size-type-h3);
    font-weight: var(--font-weight-normal);
}

p, ul{
    font-size: var(--size-type-body);
    font-weight: var(--font-wight-body);
}

